a {
    text-decoration: none;
    color: inherit;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-nav {
    display: flex
}
ul {
    list-style: none;
    padding-right: 10px;
}
li {
    padding: 10px 10px 10px 10px;
}