a {
    text-decoration: none;
    color: inherit;

}
.image {
    width: 200px;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-nav {
    display: flex
}
ul {
    list-style: none;
    padding-right: 10px;
}
li {
    padding: 10px 10px 10px 10px;
}
.image2 {
    display: block;
    margin-left: auto;
}