.header-logo {
width: 200px;
}
ul {
  list-style: none;
  display: flex;
}
.header-list {
float: right;
}
li {
  padding: 10px 10px 10px 10px;
}
.main_gazou {
  display: block;
  margin-left: auto;
  position: relative;
}
.message1 {
  margin: -500px 0 0 500px;
  font-size: 70px;
  position: absolute;
  color: red;
  font-family: 'Gorditas', cursive
}
.message2 {
  font-size: 40px;
  margin: -300px 0 0 500px;
  position: absolute;
  color: red;
}
.message3 {
  font-size: 25px;
  margin: -250px 0 0 500px;
}
span {
  color: green;
}
.News {
  margin: 300px 0 0 600px;
  color: red;
  font-family: 'Gorditas', cursive
}
.NewNews {
  margin: 0 0 0 600px;
}
.message4 {
  margin: 0 0 0 600px;
}
.section {
  width: 1600px;
  margin: 0 auto;
} 
