a {
  text-decoration: none;
  color: inherit;

}
.image {
  width: 200px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-nav {
  list-style: none;
  padding-right: 10px;
}
.header-nav-list {
  display: flex;
}
.header-nav-item {
  padding: 10px 10px 10px 10px;
}
.image2 {
  display: block;
  margin-left: auto;
  position: relative;
  z-index: -1;
}
.見出し1 {
  font-family: 'Gorditas', cursive;
  font-size: 70px;
  margin: -500px 0 0 500px;
  color: red;
}
.見出し2 {
  font-size: 40px;
  margin: 50px 0 0 500px;
  color: red;
}
span {
  color: green;
}
.見出し3 {
  font-size: 25px;
  margin: 0 0 0 500px;
}